# ProcessWire
DEBUG=true

USE_FUNCTIONS_API=true
USE_PAGE_CLASSES=true
USE_MARKUP_REGIONS=true
PREPEND_TEMPLATE_FILE="_init.php"
APPEND_TEMPLATE_FILE="_main.php"
TEMPLATE_COMPILE=false

DB_HOST="db"
DB_NAME="db"
DB_USER="db"
DB_PASS="db"
DB_PORT=3306
DB_ENGINE="InnoDB"

USER_AUTH_SALT="d62bb72c6f388d636cf55799d5b35012032dfa25"
TABLE_SALT="cf960f75cc9f05dbf29b89642588428d0c51374b"

CHMOD_DIR=0755
CHMOD_FILE=0644

TIMEZONE="UTC"

DEFAULT_ADMIN_THEME="AdminThemeUikit"

INSTALLED=1716604351

# Add your own as needed
APP_ENV=local

SOME_API_KEY="B5AE2788-ED16-478E-A721-A8C38B9F10C2"

MAKE_WEBSITE_CRASH=false
